assets/all_sound_effects
assets/all_songs
node_modules/
.DS_Store
dist/
models/
tools/venv/
tools/venv_xtts/
tools/venv_uvr/
tools/piper/
tools/temp_separation/
tts_models/
temp_*.wav
__pycache__/
.env
assets/voice_samples/movies/
