@font-face {
    font-family: 'Silkscreen';
    src: url('./src/fonts/Silkscreen-Regular.ttf');
}

@font-face {
    font-family: 'Tiny5';
    src: url('./src/fonts/Tiny5-Regular.ttf');
}

@font-face {
    font-family: 'Dogica';
    src: url('./src/fonts/dogicapixel.ttf');
}

@font-face {
    font-family: 'zpix';
    src: url('./src/fonts/zpix.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    color: white;
    font-family: 'Silkscreen', sans-serif;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
    background-color: #000;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


